::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  background-color: #023E7A;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #00D7CE;
}

body {
  background-color: #1D274B;
}

ul {
  list-style: none;
}

.overflow-font {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.lf {
  float: left;
}

.rf {
  float: right;
}

.clearFloat::after {
  content: '';
  display: block;
  clear: both;
}
